<div class="container">
    <form>
        <div class="form-group">
            <label for="description">Dein Kommentar</label>
            <textarea class="form-control" rows="3" ng-model="$ctrl.comment.text"></textarea>
        </div>
        <button type="button" class="btn btn-default" ng-click="$ctrl.submit()">Kommentar erstellen<span class="glyphicon glyphicon-ok"></span></button>
        <button type="reset" class="btn btn-defualt" ng-click="$ctrl.goBack()">Abbrechen<span class="glyphicon glyphicon-remove"></span></button>
    </form>
</div>
