<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <img id="imgPreview" alt="uploadetImage" class="thumbnail" ngf-thumbnail="$ctrl.file" />
            <button type="button" class="btn btn-inverse btn-default btn-lg btn-block" ngf-select="$ctrl.uploadPicture($file)" ng-model="$ctrl.file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-resize="{width: 420, height: 420, centerCrop:true}" capture="camera">
                <span class="glyphicon glyphicon-camera"></span>
                Take new picture
            </button>
        </div>

    </div>
    <div class="row">
        <div class="col-xs-12">
            <form>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" placeholder="Title" ng-model="$ctrl.offer.name">
                    <span ng-show="$ctrl.invalidName">Your offer needs a title.</span>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" rows="3" ng-model="$ctrl.offer.description"></textarea>
                </div>
                <div class="form-group">
                    <label for="offeringOpenDate">Start date:</label>
                    <input type="date" class="form-control" id="startDate" ng-model="$ctrl.offer.startDate">
                    <span ng-show="$ctrl.invalidStartDate">The start date must be today or greater.</span>
                </div>
                <div class="form-group">
                    <label for="offeringEndDate">End date:</label>
                    <input type="date" class="form-control" id="endDate" ng-model="$ctrl.offer.endDate">
                    <span ng-show="$ctrl.invalidEndDate">The end date must be greater than the start date.</span>
                </div>
                <div class="form-group">
                    <label for="offeringPrice">Price</label>
                    <input type="number" class="form-control" id="offeringPrice" step="0.05" placeholder="0.00" ng-model="$ctrl.offer.price">
                    <span ng-show="$ctrl.invalidPrice">The price must be a positive number.</span>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-2">
                        <button type="submit" class="btn btn-success btn-lg btn-block" ng-click="$ctrl.submit()"><span class="glyphicon glyphicon-ok"></span> Create offer </button>
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <button type="reset" class="btn btn-primary btn-lg btn-block" ng-click="$ctrl.reset()"><span class="glyphicon glyphicon-remove"></span> Quit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

