$icon-font-path: "../bower_components/bootstrap/fonts/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Component styles are injected through grunt
/* inject:scss */
@import 'admin/admin';
@import 'createOffering/createOffering';
@import 'detailOffer/detailOffer';
@import 'editOffer/editOffer';
@import 'main/main';
@import 'myOffers/myOffers';
@import '../components/footer/footer';
@import '../components/modal/modal';
/* endinject */


.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    height: 34px;
}

.btn-lg, .btn-group-lg > .btn {
    font-size: 14px;

}

.img-thumbnail {

    margin-bottom: 15px;
}