<form class="form-horizontal" enctype="multipart/form-data" name="form">
  
  
  <div class="button" ngf-select ng-model="$ctrl.file" name="photo" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"  ngf-resize="{width: 420, height: 420, centerCrop:true}" capture="camera">Select</div>
  Image thumbnail: <img ngf-thumbnail="$ctrl.file">
  
  
  
  
  <div class="form-group">
    <label class="col-sm-2 control-label">Titel</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="Titel" ng-model="$ctrl.offer.name">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Beschreibung</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="Beschreibung" ng-model="$ctrl.offer.description">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Beginn der Aufschaltung</label>
    <div class="col-sm-10">
      <input type="date" class="form-control" placeholder="" ng-model="$ctrl.offer.startDate">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Ende der Aufschaltung</label>
    <div class="col-sm-10">
      <input type="date" class="form-control" placeholder="" ng-model="$ctrl.offer.endDate">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Preis</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="Place" ng-model="$ctrl.offer.price">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="button" class="btn btn-success" ng-click="$ctrl.submit()">Angebot aufschalten</button>
    </div>
  </div>
</form>

