<div class="container">
    <div class="row">
            
        <div class="col-xs-12 col-sm-4">
            <img ng-src="{{$ctrl.offer.picture}}" alt="{{$ctrl.offer.name}}" title="{{$ctrl.offer.name}}" class="img-responsive img-thumbnail"/>
            <button ng-click="$ctrl.sellOffer()" type="button" class="btn btn-default btn-lg btn-block btn-success"><span class="glyphicon glyphicon glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Sell offer</button>
            <button ng-click="$ctrl.editOffer()" type="button" class="btn btn-default btn-lg btn-block btn-warning"><span class="glyphicon glyphicon glyphicon-edit" aria-hidden="true"></span> Edit offer</button>
            <button ng-click="$ctrl.deleteOffer()" type="button" class="btn btn-default btn-lg btn-block btn-danger"><span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span> Delete offer</button>
        </div>
        <div class="col-xs-12 col-sm-8">
                
            <h2>{{$ctrl.offer.name}}</h2>
            <p>{{$ctrl.offer.description}}</p>
            <p><span class="glyphicon glyphicon-time" aria-hidden="true"></span> <span am-time-ago="$ctrl.offer.endDate"></span></p>
            
            <div class="col-xs-12 map" id ="map" ng-model="$ctrl.map"></div>
            <div class="panel panel-default">
                <div class="panel-heading">Comments:</div>
                <table class="table">
                    <tr ng-repeat="comment in $ctrl.offer.comments">
                        <td><span class="glyphicon glyphicon-time" aria-hidden="true"></span> <span am-time-ago="comment.date"></span></td>
                        <td>{{comment.text}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>